<div class="card mb-2">
    <!-- Question -->
    <div class="card-header  fs-4 text-left">
        <a href={% url 'question' question_id=question.id %} class="question-title">
            {{ question.title }}
        </a>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Likes and answers counters -->
            <div class="col-2 text-end">
                <form class="mb-1">
                    <input type="hidden">
                    <button class="fs-3 button-likes" type="submit">{{ question.count_likes }}</button>
                </form>
            </div>

            <!-- Question main part -->
            <div class="col-10">
                <!-- Text -->
                <div class="row p-1">
                    {{ question.text }}
                </div>
                <div class="row mt-3">
                    <!-- Tags -->
                    <div class="col-3">
                        <a class="answers-counter" href="{% url 'question' question_id=question.id %}">{{ question.answers|length }} Answers</a>
                    </div>
                    <div class="col-9">

                        {% for tag in question.tags %}
                            <a href="{% url 'tag' tag_id=tag.tag_id%}" class="tag">{{ tag.text }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2 mx-4">
            <div class='col-8'> </div>
            <div class="col-4">
                <img src="../static/img/common_avatar.png" class="avatar" alt="Avatar" width="50"
                    height="50">
                <a href="#" class="member-miniature">{{question.author}}</a>
            </div>
            {% comment %} <div class='col-3'>
                <a class="author-panel" href="#"> {{  question.author }}</a>
                
            </div> {% endcomment %}
        </div>
    </div>
</div>